Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,cppcoreguidelines-*,readability-*,performance-*,bugprone-*,-cppcoreguidelines-macro-usage,-readability-identifier-length,-misc-no-recursion,-cppcoreguidelines-owning-memory'
FormatStyle:     file