---
BasedOnStyle: LLVM
---
Language: Cpp
InsertBraces: true
RemoveBracesLLVM: true
# AlignArrayOfStructures: Left
PointerAlignment: Left
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: true
QualifierAlignment: Left
IndentRequiresClause: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterRequiresInClause: true
