# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
output.*

# CMake
src/yumec-version.hpp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake-build-*
build
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDEs
.idea
.vscode
*.iml
out
gen

# Other
bin/*
!bin/ci.sh
.cache
docs/
