name: CMake

on:
  push:
    branches: [ cpp ]
  pull_request:
    branches: [ cpp ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        clang: [13, 14]
        llvm: [13, 14]
    runs-on: ubuntu-22.04
    name: "Build clang ${{ matrix.clang }}, libllvm ${{ matrix.llvm }}"
    env:
      CC: clang-${{ matrix.clang }}
      CXX: clang++-${{ matrix.clang }}

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DYUME_FORCE_LLVM_VERSION=${{ matrix.llvm }}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test collatz.ym
      run: build/yumec example/collatz.ym && ./yume.out
    - name: Test fizzbuzz.ym
      run: build/yumec example/fizzbuzz.ym && ./yume.out
    - name: Test overloads.ym
      run: build/yumec example/overloads.ym && ./yume.out
    - name: Test struct.ym
      run: build/yumec example/struct.ym && ./yume.out

#     - name: Test
#       working-directory: ${{github.workspace}}/build
#       run: ctest -C ${{env.BUILD_TYPE}}

