name: CMake

on: push

env:
  BUILD_TYPE: Debug
  TARGET_CLANG: 14
  TARGET_LLVM: 14

jobs:
  build:
    name: "Build clang ${{ matrix.clang }}, llvm ${{ matrix.llvm }}"
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        clang: [13, 14, 15]
        llvm: [13, 14, 15]
    env:
      CC: clang-${{ matrix.clang }}
      CXX: clang++-${{ matrix.clang }}
      LLVM_SYMBOLIZER_PATH: llvm-symbolizer-${{ matrix.llvm }}
      LLVM_PROFDATA: llvm-profdata-${{ matrix.llvm }}
      LLVM_COV: llvm-cov-${{ matrix.llvm }}
      BUILD_DIR: ${{github.workspace}}/build

    steps:
      - uses: actions/checkout@v3

      - if: matrix.clang == 15 || matrix.llvm == 15
        name: Add LLVM 15 Repo
        run: |
          sudo add-apt-repository 'deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy main'
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt update

      - if: matrix.llvm == 15
        name: Install LLVM 15
        run: sudo apt install llvm-15

      - if: matrix.clang == 15
        name: Install Clang 15
        run: sudo apt install clang-15

      - name: Install Catch2
        run: |
          git clone https://github.com/catchorg/Catch2.git
          cd Catch2
          cmake -Bbuild -H. -DBUILD_TESTING=OFF
          sudo cmake --build build/ --target install

      - name: Configure CMake
        run: cmake -B ${{env.BUILD_DIR}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DYUME_FORCE_LLVM_VERSION=${{ matrix.llvm }} -DYUME_COV=ON -DBUILD_TESTING=ON

      - name: Build
        run: cmake --build ${{env.BUILD_DIR}} --config ${{env.BUILD_TYPE}}

      - name: Smoke
        run: ${{env.BUILD_DIR}}/yumec --version

      - name: Unit Test
        run: bin/ci.sh test

      - if: matrix.clang == env.TARGET_CLANG && matrix.llvm == env.TARGET_LLVM
        name: Coverage
        run: bin/ci.sh coverage

      - name: Example Test
        run: bin/ci.sh examples

      - name: Test bf.ym (alt)
        run: ${{env.BUILD_DIR}}/yumec example/bf.ym && ./yume.out '>++[<+++++++++++++>-]<[[>+>+<<-]>[<+>-]++++++++[>++++++++<-]>.[-]<<>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[-]<-]<-]<-]<-]<-]<-]<-]++++++++++.'

      - if: always()
        name: Publish Test Results
        uses: actions/upload-artifact@v2
        with:
          name: "tests-${{ matrix.clang }}-${{ matrix.llvm }}"
          path: "${{env.BUILD_DIR}}/junit.xml"

      - name: Publish IR Output
        uses: actions/upload-artifact@v3
        with:
          name: ir-output-llvm${{ matrix.llvm }}
          path: result-*.ll

      - if: matrix.clang == env.TARGET_CLANG && matrix.llvm == env.TARGET_LLVM
        name: Publish Coverage
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ${{env.BUILD_DIR}}/cov
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Event File
        path: ${{ github.event_path }}
