name: CMake

on: push

env:
  BUILD_TYPE: Debug
  TARGET_CLANG: 13
  TARGET_LLVM: 13

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        clang: [13, 14] #, 15]
        llvm: [13, 14, 15]
    runs-on: ubuntu-22.04
    name: "Build clang ${{ matrix.clang }}, llvm ${{ matrix.llvm }}"
    env:
      CC: clang-${{ matrix.clang }}
      CXX: clang++-${{ matrix.clang }}
      LLVM_SYMBOLIZER_PATH: llvm-symbolizer-${{ matrix.llvm }}

    steps:
      - uses: actions/checkout@v3

      - if: matrix.clang == 15 || matrix.llvm == 15
        name: Add LLVM 15 Repo
        run: |
          sudo add-apt-repository 'deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy main'
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt update

      - if: matrix.llvm == 15
        name: Install LLVM 15
        run: sudo apt install llvm-15

      - if: matrix.clang == 15
        name: Install Clang 15
        run: sudo apt install clang-15

      - name: Install Catch2
        run: |
          git clone https://github.com/catchorg/Catch2.git
          cd Catch2
          cmake -Bbuild -H. -DBUILD_TESTING=OFF
          sudo cmake --build build/ --target install

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DYUME_FORCE_LLVM_VERSION=${{ matrix.llvm }} -DYUME_COV=ON -DBUILD_TESTING=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Unit Test
        run: cd ${{github.workspace}}/build && ./yume_test

      - if: matrix.clang == env.TARGET_CLANG && matrix.llvm == env.TARGET_LLVM
        name: Coverage
        run: cd ${{github.workspace}}/build && ${{github.workspace}}/bin/ci.sh coverage

      - name: Example Test
        run: ${{github.workspace}}/bin/ci.sh examples

      - name: Test bf.ym (alt)
        run: build/yumec example/bf.ym && ./yume.out '>++[<+++++++++++++>-]<[[>+>+<<-]>[<+>-]++++++++[>++++++++<-]>.[-]<<>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[>++++++++++[-]<-]<-]<-]<-]<-]<-]<-]++++++++++.'

      - uses: actions/upload-artifact@v3
        with:
          name: ir-output-llvm${{ matrix.llvm }}
          path: ./result-*.ll

      - if: matrix.clang == env.TARGET_CLANG && matrix.llvm == env.TARGET_LLVM
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ./build/cov
