name: CMake

on:
  push:
    branches: [ cpp ]
  pull_request:
    branches: [ cpp ]

env:
  BUILD_TYPE: Release
  CC: clang-13
  CXX: clang++-13

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Install LLVM
      run: sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-13 200

    - name: Smoke
      run: ${{env.CXX}} --version

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

#     - name: Test
#       working-directory: ${{github.workspace}}/build
#       run: ctest -C ${{env.BUILD_TYPE}}
      
