name: Doxygen

on:
  workflow_run:
    workflows: ["CMake"]
    types:
      - completed
    branches:
      - 'cpp'

permissions:
  contents: write

jobs:
  docs:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.ref == 'refs/heads/cpp' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download coverage
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: success
          path: docs/html/coverage
          name: coverage

      - name: Doxygen
        uses: mattnotmitt/doxygen-action@v1.9.4
        with:
          doxyfile-path: "Doxygen"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs/html # The folder the action should deploy.
